<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="user">
    <select id="query" parameterType="bookcase.model.User" resultType="bookcase.model.User">
        SELECT *
        FROM db_bookcase.user
        WHERE username = #{username} AND password = #{password}
    </select>

    <insert id="create" parameterType="bookcase.model.User" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO db_bookcase.user (username, password) VALUES (#{username}, #{password})
    </insert>
</mapper>